:root{
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 77%);
}
/* global styles */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
/* -------------------------- */
/* start styles */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container .card-container{
    width: 980px;
    position: relative;
}
.container::after{
    content: "";
    position: absolute;
    background-image: url(../images/pattern-curve.svg);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0px;
    left: 0;
    width: 500px;
    height: 130px;
}
.container .card-container>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .card-container >div.hidden{
    display: none;
} 

.container .card-container>div .description{
    width: 585px;
    z-index: 10;
}
.container .card-container>div .description .content{
    font-size: 1.75rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    padding: 70px 0 20px;
    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 105px;
    background-position: 82px 11px;
    line-height: 1.35;
    margin-top: -40px;
    margin-bottom: 10px;
}
.container .card-container>div .description .person-des{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .card-container>div .description .person-des p:first-child{
    font-weight: 700;
    color: var(--Dark-Blue);
    font-size: 1.25rem;
    margin-right: 10px;
}
.container .card-container>div .description .person-des p:last-child{
    font-weight: 400;
    color: var(--Grayish-Blue);
}
.container .card-container>div .image{
    position: relative;
    right: 55px;
    z-index: 5;
    width: 450px;
    height: 470px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container .card-container>div .image::after{
    content: "";
    position: absolute;
    background-image: url(../images/pattern-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: -50px;
    right: -88px;
    width: 570px;
    height: 520px;
    z-index: -1;
}
.container .card-container> img{
    max-width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container .card-container>div .image >img{
    max-width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 4px 7px 4px #b6b4b445;
}
.container .card-container>div .image .slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    left: 50px;
    box-shadow: 0px 4px 7px 4px #b6b4b445;
}
.container .card-container>div .image .slider a img{
    cursor: pointer;
}

@media (max-width:1023px) {
    .container::after{
        content: "";
        position: absolute;
        background-image: url(../images/pattern-curve.svg);
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -10px;
        left: calc(50% - 5vw);
        transform: translateX(-50%);
        height: 12vh;
        width: 95vw;
        z-index: -1;
    }
    .container .card-container{
        width: 350px;
        height: 700px;
        padding: 60px 0;
    }
    .container .card-container >div{
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        gap: 50px;
    }
    .container .card-container>div .description{
        width: 350px;
    }
    .container .card-container>div .description .content{
        font-size: 1.25rem;
        padding: 25px 0 20px;
        background-size: 65px 52px;
        background-position: 142px 0;
        text-align: center;
        margin: 0;
    }
    .container .card-container>div .image{
        z-index: 0;
        width: 250px;
        height: 250px;
    }
    .container .card-container>div .image::after{
        top: -30px;
        right: -62px;
        width: 350px;
        height: 305px;
    }
    .container .card-container>div .image .slider{
        top: 230px;
        left: 50%;
        width: 80px;
        height: 40px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        box-shadow: 0px 4px 7px 4px #b6b4b445;
    }
    .container .card-container>div .image .slider img{
        width: 8px;
    }
    .container .card-container>div .description .person-des{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .container .card-container>div .description .person-des p:first-child{ 
        font-size: 1rem;
        margin: 0;
    }
}










































/* End styles */
