:root{
	--Linear-gradient-active-input-border:linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
	--Red-input-errors: hsl(0, 100%, 66%);
	--White:hsl(0, 0%, 100%);
	--Light-grayish-violet: hsl(270, 3%, 87%);
	--Dark-grayish-violet: hsl(279, 6%, 55%);
	--Very-dark-violet: hsl(278, 68%, 11%);
}
/* global styles */
*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 18px;
}
.none{
	display: none !important;
}
/* -------------------------- */
/* start styles */
.container{
	position: relative;
	background-color: var(--White);
	height: 100vh;
	z-index: 1;
}
.container::before{
	content: "";
	position: absolute;
	background-image: url(../images/bg-main-desktop.png);
	width: 400px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.container .fields-container{
	position: absolute;
	top: 50%;
	left: 170px;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 850px;
}
.container .fields-container .cards{
	display: flex;
	flex-direction: column;
	color: var(--White);
}
.container .fields-container .cards >div{
	width: 310px;
	height: 180px;
	padding: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 3px 10px 3px #6f6f6f59
}
.container .fields-container .cards .front-card{
	background-image: url(../images/bg-card-front.png);
	margin-bottom: 30px;
	text-transform: uppercase;
}
.container .fields-container .cards .front-card img{
	width: 64px;
}
.container .fields-container .cards .front-card .card-number{
	margin-top: 40px;
	margin-bottom: 15px;
	font-size: 1.25rem;
	letter-spacing: 1px;
}
.container .fields-container .cards .front-card .person-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container .fields-container .cards .front-card .person-info >p{
	font-size: 0.65rem;
	letter-spacing: 1px;
}
.container .fields-container .cards .backWard-card{
	background-image: url(../images/bg-card-back.png);
	margin-left: 70px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-size: cover;
}
.container .fields-container .cards .backWard-card .cvc{
	margin-bottom: 5px;
	margin-right: 10px;
	font-size: 00.65rem;
}
.container .fields-container .form-front{
	width: 330px;
}
.container .fields-container .form-front form >div{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.container .fields-container .form-front form >div label,  .container .fields-container .form-front form >div p{
	font-size: 0.65rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--Very-dark-violet);
}
.container .fields-container .form-front form >div input{
	position: relative;
	padding: 8px 15px;
	font-size: 1rem;
	font-weight: 600;
	outline: none;
	border: 1px solid var(--Dark-grayish-violet);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.container .fields-container .form-front form >div .error-text{
	color: var(--Red-input-errors);
	font-size: 00.65rem;
	margin-top: 5px;
	margin-bottom: 10px;
	text-transform: none;
	display: none;
}
.container .fields-container .form-front form >div .error-text.active{
	display: block;
}
.container .fields-container .form-front form >div input::placeholder{
	color: var(--Dark-grayish-violet);
	font-weight: 300;
}

.container .fields-container .form-front form >div input.error{
	border-color: var(--Red-input-errors);
}

.container .fields-container .form-front form >div input:focus{
	background: linear-gradient(#fff, #fff) padding-box,var(--Linear-gradient-active-input-border) border-box;
	border: 1px solid transparent;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.container .fields-container .form-front form .input-data{
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.container .fields-container .form-front form .input-data .input-date .inputs{
	display: flex;
}
.container .fields-container .form-front form .input-data .input-date input{
	width: 80px;
	padding: 8px 15px;
	margin-right: 10px;
}
.container .fields-container .form-front form .input-data .cvc input{
	width: 140px;
}
.container .fields-container .form-front form button,  .container .fields-container .form-validate button {
	width: 330px;
	border: none;
	font-size: 0.85rem;
	padding: 10px 0;
	margin-top: 20px;
	background-color: var(--Very-dark-violet);
	color: var(--White);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	cursor: pointer;
}
.container .fields-container .form-validate{
	width: 330px;
	text-align: center;
}
.container .fields-container .form-validate img{
	width: 64px;
	margin-bottom: 20px;
}
.container .fields-container .form-validate p:first-of-type{
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.container .fields-container .form-validate p:nth-of-type(2){
	font-size: 0.75rem;
	color: var(--Dark-grayish-violet);
	margin-top: 10px;
	margin-bottom: 40px;
}
@media (max-width:1040px) {
	.container::before{
		width: 320px;

	}
	.container .fields-container{
		left: 90px;
	}
}
@media (max-width:978px) {
	.container::before{
			background-image: url(../images/bg-main-mobile.png);
			background-repeat: no-repeat;
			width: 350px;
			height: 250px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.container .fields-container{
			flex-direction: column;
			margin: auto;
			width: 350px;
			height: fit-content;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
	}
	.container .fields-container .cards{
		position: relative;
		flex-direction: column-reverse;
		margin-top: 40px;
		margin-bottom: 120px;
	}
	.container .fields-container .cards >div{
		width: 270px;
		height: 150px;
		background-size: cover;
	}
	.container .fields-container .cards .front-card img {
		width: 50px;
	}
	.container .fields-container .cards .front-card{
		position: absolute;
		top: 84px;
	}
	.container .fields-container .cards .front-card .card-number {
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 1rem;
	}
	.container .fields-container .cards .backWard-card{
		margin-left: 55px;
	}
	.container .fields-container .cards .backWard-card .cvc {
		margin-bottom: 7px;
		margin-right: 14px;
		font-size: 00.65rem;
	}
	.container .fields-container button{
		margin-bottom: 40px;
	}
.container .fields-container .form-validate  {
		height: 365px;
	}
	.container .fields-container .form-validate p:nth-of-type(2) {
		font-size: 1rem;
	}
}
@media (max-width:370px) {
	.container::before{
			width: 280px;
		}
		.container .fields-container{
			width: 280px;
	}
	.container .fields-container .cards >div{
		width: 230px;
		height: 130px;
	}
	.container .fields-container .cards .front-card .card-number {
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 0.75rem;
	}
	.container .fields-container .cards .backWard-card{
		margin-left: 40px;
	}
	.container .fields-container .cards .backWard-card .cvc {
		margin-bottom: 7px;
		margin-right: 14px;
		font-size: 00.65rem;
	}
	.container .fields-container .form-front {
		width: 280px;
	}
	.container .fields-container .form-front form .input-data{
		flex-direction: column;
	}
	.container .fields-container .form-front form button, .container .fields-container .form-validate button{
		margin-bottom: 40px;
		width: 280px;
	}
	.container .fields-container .form-validate  {
		height: 280px;
		margin: 0;
	}
	.container .fields-container .cards .backWard-card .cvc {
        margin-bottom: 5px;
        margin-right: 10px;
	}
	.container .fields-container .form-validate p:nth-of-type(2) {
		font-size: 1rem;
	}
}











/* Copyright */
.attribution{
	padding: 10px 0;
	font-size:0.65rem ;
	text-align: center;
}
.attribution >a{
font-size:0.65rem ;
}
/* End styles */
