:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
/* global styles */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
/* -------------------------- */
/* start styles */
.container{
    background-color: var(--Very-Light-Gray);
    padding: 20px 0;
    text-align: center;
}
.container .header p:first-of-type{
    font-size: 2rem;
    font-weight: 200;
}
.container .header p:nth-of-type(2){
    font-size: 2rem;
    font-weight: 600;
}
.container .header p:last-of-type{
    font-size: 0.85rem;
    font-weight: 200;
    max-width: 450px;
    margin: 10px auto 40px;
}
.container .cards{
    display: grid;
    grid-template-columns: repeat(6,150px);
    grid-template-rows: repeat(4,100px);
    justify-items: center;
    justify-content: center;
    column-gap: 15px;
    row-gap: 20px;
}
.container .cards >div{
    width: 300px;
    background-color: white;
    padding: 20px;
    height: fit-content;
    box-shadow: 0px 5px 15px 5px hsl(234deg 12% 34% / 15%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-top-width: 4px;
    border-top-style: solid;
}
.container .cards .sup-card{
    grid-area: 2/1/4/3;
    border-top-color: var(--Cyan);
}
.container .cards .team-card{
    grid-area: 1/3/3/5;
    border-top-color: var(--Red);
}
.container .cards .calc-card{
    grid-area: 2/5/4/7;
    border-top-color: var(--Blue);
}
.container .cards .karma-card{
    grid-area: 3/3/5/5;
    border-top-color: var(--Orange);
}
.container .cards >div >h2{
    font-size: 1rem;
    text-align: start;
}
.container .cards >div >p{
    font-size: 0.75rem;
    max-width: 250px;
    text-align: start;
    color: var(--Grayish-Blue);
    margin: 15px 0;
}
.container .cards >div >img{
    margin-top: 10px;
    margin-left: 70%;
}
@media (max-width:991px) {
    .container .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .header p:first-of-type {
        font-size: 1.5rem;
    }
    .container .header p:nth-of-type(2) {
        font-size: 1.5rem;
    }
    .container .header p:last-of-type {
        max-width: 250px;
    }
}
@media (max-width:280px) {
    .container .cards >div{
        width: 250px;
    }
    .container .header p:first-of-type {
        font-size: 1.25rem;
    }
    .container .header p:nth-of-type(2) {
        font-size: 1.25rem;
    }
    .container .header p:last-of-type {
        font-size: 0.75rem;
    }
}

/* End styles */
